.elgg-form-embed-extended-internal-content input[type='text'] {
	width: 450px;
}

.elgg-form-embed-extended-internal-content select {
	width: 150px;
	margin: 0 5px;
}

.elgg-form-embed-extended-internal-content fieldset > div {
	margin-bottom: 3px;
}

.elgg-form-embed-extended-internal-content label {
	font-weight: inherit;
	font-size: inherit;
}

#embed-extended-internal-content-result img {
	max-width: 25px;
	max-height: 25px;
}

#embed-extended-internal-content-result .elgg-photo {
    background-color: inherit;
    border: inherit;
    padding: inherit;
}