.elgg-form-embed-extended-internal-content {
	input[type='text'] {
		width: 450px;
	}

	select {
		width: 150px;
		margin: 0 5px;
	}

	fieldset > div {
		margin-bottom: 3px;
	}

	label {
		font-weight: inherit;
		font-size: inherit;
	}
}

#embed-extended-internal-content-result {
	img {
		max-width: 25px;
		max-height: 25px;
	}

	.elgg-photo {
	    background-color: inherit;
	    border: inherit;
	    padding: inherit;
	}
}
